/* Boton Translate */
.btnTranslate {
  background-color: #EAEFEF;
  color: #222831;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: 200ms;
  box-shadow: 0 0 5px #0000003b;

  &:hover {
    background-color: var(--hover);
  }
}

/* Boton Theme */

.btnTheme {
  font-size: 18px;
  width: 70px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding-left: 5px;
  transition: 300ms;
  cursor: pointer;
  box-shadow: 0 0 5px #0000002c;

  &:hover {
    background-color: var(--hover);
  }
}


.btnTheme.on {
  padding-left: 43px;
}

/* Btn Reutilizable */

.btnPrimary {
  background-color: var(--color-btn);
  border-radius: 20px;
  transition: 300ms;
  box-shadow: 0 0 5px #0000004d;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.4rem;
  }

  &:hover {
    background-color: var(--hover-color);
  }
}

.btnSecondary {
  border: 2px solid var(--color-btn);
  border-radius: 20px;
  transition: 300ms;
  box-shadow: 0 0 5px #0000004d;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.4rem;
  }

  &:hover {
    background-color: var(--hover-color);
    border: 2px solid var(--hover-color);
  }
}


/* btn de card projects */

.btnProjectPrimary {
  background-color: var(--color-projects);
  border-radius: 20px;
  transition: 300ms;
  box-shadow: 0 0 5px #0000004d;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.4rem;
    color: #fff;
  }

  &:hover {
    background-color: var(--bg-projects);
  }
}

.btnProjectSecondary {
  border: 2px solid var(--bg-projects);
  border-radius: 20px;
  transition: 300ms;
  box-shadow: 0 0 5px #0000004d;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 1.4rem;
  }

  &:hover {
    background-color: var(--bg-projects);
    border: 2px solid var(--bg-projects);

    a {
      color: #fff;
    }
  }
}
