@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.dark {
  --bg-body: #222831;
  --shadow: #0d56ffbb;
  --border-color: #ffffff77;
  --bg-body-nav: #2228319c;
  --hover: #6c7a9b;

  --bg-projects: #13171f;
  --color-projects: #1d2330;

  --text-secondary: #547ddb;

  --color-btn: #49597e;
  --hover-color: #334264;

  --color-card: #3a455f;
  --bg-card-project: #d2d8d8;

  --color-primary-2: #B8CFCE;
  --text-color: #ffffffde;
}

.ligh {
  /*tema oscuro*/
  --bg-body: #DFD0B8;
  --shadow: #c08931;
  --border-color: #00000077;
  --bg-body-nav: #e0ddd956;
  --hover: #c08931;

  --bg-projects: #7c5d2a;
  --color-projects: #96794b;

  --text-secondary: #b17a23;

  --color-btn: #bd8730;
  --hover-color: #a07023;

  --color-card: #cfa96a;
  --bg-card-project: #DFD0B8;

  --color-primary: #222831;
  --text-color: #181d24;
}

body {
  background-color: var(--bg-body);
  color: var(--text-color);
  transition: 300ms;
  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 70px;
}

.img {
  transition: 400ms;
}

.shadow {
  box-shadow: 0 0 5px #00000046;
}

.descripcion {
  text-align: justify;
  hyphens: auto;
}


.pinture {
  width: 200px;
  height: 200px;
  background-color: red;
  object-fit: contain;
}
